# 한국투자증권 KIS API
KIS_APP_KEY=PSx7d50m41KJqw5U0aA4VgxLXwANd1ljOKDH
KIS_APP_SECRET=gVvgqq5gjiqOdwKAF9Bcpx2XFYfSd9aXiJXAgNnUkrg1D5ohnu3wiB9sidsb/fDt7nCJ06Ogqtb3eL16Bk3pstzlR2dmyNXmUHAQSaIv7z1T2rsdURXqger9xcf9/VP9Rxi74iV70APwwuHy3Na8bQSUu+k90ewU8jjnYzKkY1OjUzjUdfE=
KIS_ACCOUNT_NO=46193435-01          
KIS_IS_PAPER=false                  # 모의투자: true, 실전투자: false

# 텔레그램
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# 리스크 설정
MAX_SINGLE_STOCK_RATIO=0.10         # 종목당 최대 비중 10%
MAX_SECTOR_RATIO=0.25               # 섹터당 최대 비중 25%
DAILY_LOSS_LIMIT=0.02               # 일일 손실 한도 2%
STOP_LOSS_RATIO=0.07                # 개별 손절 -7%
TAKE_PROFIT_RATIO=0.15              # 개별 익절 +15%
