# Environment variables
.env
.env.local

# Logs
logs/
*.log

# Data
data/
*.csv
*.db
*.sqlite3

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Temporary files
temp.js
*.zip

# Virtual environments
venv/
env/
.venv/

# IDE files
.vscode/
.idea/
